<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Imatgik</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link href="static/css/fontawesome.css" rel="stylesheet">
    <link href="static/css/solid.css" rel="stylesheet">
</head>

<body>
    
    <section class="hero is-primary">
      <div class="hero-head">
          <nav class="navbar">
                  <div id="navbarmenu" class="navbar-menu is-active">
                    <div class="navbar-begin">
                      <a class="navbar-item is-large">Hello {{ current_user.username }}!</a>
                    </div>
                    <div class="navbar-end">
                        <a href="{{ url_for('auth.logout') }}" class="navbar-item is-large">
                          Logout
                      </a>
                    </div>
                  </div>
          </nav>
      </div>

        <div class="hero-body">
          
          <div class="columns is-mobile">
            {% block content %}
            <div class="column is-full">
              <div class="columns is-mobile">
                <div class="column">
                  <div class="column">
                    <a href="{{ url_for('img.prev')}}">
                      <span class="icon-text"><span class="icon is-large"><i class="fas fa-angle-left fa-3x"></i></span></span>
                    </a>
                  </div>
                </div>
                  
                <div class="column">
                  <a href="{{ url_for('img.edittitle') }}" class="navbar-item is-large" alt="Edit Title">
                    <span class="icon-text"><span class="icon is-large"><i class="fas fa-pen fa-2x"></i></span></span>
                  </a>
                </div>
                <div class="column">
                  <a href="{{ url_for('img.upload') }}" class="navbar-item is-large" alt="Upload Image">
                    <span class="icon-text"><span class="icon is-large"><i class="fas fa-upload fa-2x"></i></span></span>
                  </a>
                </div>
                <div class="column has-text-right">
                  <a href="{{ url_for('img.remove') }}" class="navbar-item is-large" alt="Remove Image">
                    <span class="icon-text"><span class="icon is-large"><i class="fas fa-trash fa-2x"></i></span></span>
                  </a>
                </div>
                <div class="column has-text-right">
                  <a href="{{ url_for('img.next')}}">
                    <span class="icon-text"><span class="icon is-large"><i class="fas fa-angle-right fa-3x"></i></span></span>
                  </a>
                </div>
              </div>     
              <h2 class="title"><center>{{ title }}</center></h2> 
              <p class="image is-128.64">
                <img src="{{ image }}"  title="{{ title }}" class="image"></img>
              </p>
                         
  
            </div>
            {% endblock %}
          </div>
        </div>
        <div class="hero-foot">
          <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu is-active">
                    <div class=""navbar-begin">
                      <a class="navbar-item">
                        <i>Imatgik</i>  &nbsp; &#169; by David Guijarro
                      </a>
                    </div>
                </div>
              </div>
            </nav>
        </div>
      </section>
</body>

</html>