<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Imatgik</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class=""navbar-begin">
                          <a  class="navbar-item">Hello {{ current_user.username }}!</a>
                        </div>
                        <div class="navbar-end">
                            <a href="{{ url_for('img.edittitle') }}" class="navbar-item is-large">
                              Edit Title
                            </a>
                            <a href="{{ url_for('img.remove') }}" class="navbar-item is-large">
                              Remove Image
                            </a>
                            <a href="{{ url_for('img.upload') }}" class="navbar-item is-large">
                              Upload Image
                            </a>
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item is-large">
                              Logout
                          </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
          <form action="{{ url_for('img.prev')}}">
            <button class="button is-block is-info is-fullwidth">Previous</button>
          </form>
          <div class="container" align="center">
            <div class="container">
              {% block content %}
                <img width=50% height=30% src="{{ image }}"  title="{{ title }}" class="image"/>
              {% endblock %}

            </div>
          </div>
          <form action="{{ url_for('img.next')}}">
            <button  class="button is-block is-info  is-fullwidth">Next</button>
          </form>
        </div>
        <div class="hero-foot">
          <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class=""navbar-begin">
                      <a class="navbar-item">
                        <i>Imatgik</i>  &nbsp; &#169; by David Guijarro
                      </a>
                    </div>
                </div>
              </div>
            </nav>
        </div>
      </section>
</body>

</html>